@import '../../style/variables.scss';
@import '../../style/rem.scss';
@import '../../style/media.scss';

.card {
    position: relative;
    overflow: hidden;
    font-family: $font1;
    background-color: #fff;
    transition: all .3s;
    cursor: pointer;
    @include rem(width, 373px);
    @include rem(margin-bottom, 15px);

    &__thumb {
        img {
            display: block;
            width: 100%;
            @include rem(height, 179px);
            object-fit: cover;

            @include media("max", "sm") {
                height: 179px;
            }
        }
    }

    &__content {
        text-align: center;
        @include rem(min-height, 130px);
        @include rem(padding-top, 18px);
        @include rem(padding-left, 18px);
        @include rem(padding-right, 18px);
        @include rem(padding-bottom, 18px);

        @include media("max", "sm") {
            padding: 18px;
            min-height: 130px;
        }
    }
    
    &__title {
        font-weight: 700;
        @include rem(font-size, 16px);
        @include rem(line-height, 28px);

        @include media("max", "sm") {
            font-size: 16px;
            line-height: 28px;
        }
    }

    &__desc {
        @include rem(font-size, 16px);
        @include rem(line-height, 28px);

        @include media("max", "sm") {
            font-size: 16px;
            line-height: 28px;
        }
    }

    &__icon {
        position: absolute;
        @include rem(right, 14px);
        @include rem(bottom, 19px);

        img{
            display: block;
            cursor: pointer;
            transition: all .3s;
            @include rem(width, 20px);
            @include rem(height, 19px);

            &:hover {
                transform: scale(1.1);
            }

            @include media("max", "sm") {
                width: 20px;
                height: 19px;
            }
        }

        @include media("max", "sm") {
            right: 14px;
            bottom: 19px;
        }

        &--close {
            img {
                @include rem(width, 26px);
                @include rem(height, 26px);

                @include media("max", "sm") {
                    width: 26px;
                    height: 26px;
                }
            }
        }
    }

    &.is-favorited {
        display: flex;
        align-items: flex-start;

        .card__thumb{
            height: 100%;
            @include rem(width, 114px);

            img {
                height: 100%;
                @include rem(width, 114px);

                @include media("max", "sm") {
                    width: 114px;
                }
            }

            @include media("max", "sm") {
                width: 114px;
            }
        }

        .card__content {
            width: 100%;
            @include rem(min-height, 217px);
            @include rem(padding-top, 30px);

            @include media("max", "sm") {
                min-height: 217px;
                padding-top: 30px;
            }
        }

        @include media("max", "sm") {
            margin-bottom: 20px;
        }
    }

    @include media("max", "sm") {
        width: 100%;
        margin-bottom: 40px;
    }
}