@import '../../style/rem.scss';
@import '../../style/media.scss';

.skeleton {
    overflow: hidden;
    @include rem(width, 373px);
    @include rem(margin-bottom, 15px);

    &__header {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    &__circle {
        background-color: #C4C4C4;
        border-radius: 100%;
        @include rem(width, 40px);
        @include rem(height, 40px);

        @include media("max", "sm") {
            width: 40px;
            height: 40px;
        }
    }

    &__mini {
        width: 100%;
        background-color: #C4C4C4;
        @include rem(margin-top, 16px);
        @include rem(height, 16px);

        @include media("max", "sm") {
            margin-top: 16px;
            height: 16px;
        }
    }
    
    &__block {
        width: 100%;
        background-color: #C4C4C4;
        @include rem(margin-top, 15px);
        @include rem(height, 35px);

        @include media("max", "sm") {
            margin-top: 15px;
            height: 35px;
        }
    }

    &__image {
        background-color: #C4C4C4;
        width: 100%;
        @include rem(height, 200px);

        @include media("max", "sm") {
            height: 200px;
        }
    }

    &__title{
        background-color: #C4C4C4;
        width: 100%;
        @include rem(margin-top, 15px);
        @include rem(height, 104px);

        @include media("max", "sm") {
            margin-top: 15px;
            height: 104px;
        }
    }

    @include media("max", "sm") {
        width: 100%;
        margin-bottom: 40px;
    }
}